.formContainer {
    border: 1px solid #ECECEC;
    padding: 110px 30px 50px 30px;
}

.input {
    padding: 16px 10px 16px 30px;
    width: 100%;
    color: #3B5983;
    font-size: 16px;
    border:1px solid #223066;
    box-sizing: border-box;
}



.title {
    color: #30507D;
    font-weight: 900;
    font-size: 35px;
    line-height: 23px;
    margin-bottom: 38px;
}

.field {
    margin-bottom: 13px;
}

.error {
    color: red;
    font-size: 16px;

}
.form{
text-align: start;
}
.button{
    background: #0659A6;
    padding: 14px 78px;
}
@media(max-width: 768px){
    .formContainer {
        padding: 40px 20px 40px 20px;
    }

}
