.container{
    overflow-x: hidden;
    overflow-y: scroll;
    padding: 27px 8px;
    background: var(--black);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.container::-webkit-scrollbar{
    width: 0;
}
.headerNav {
    display: flex;
    flex-direction: column;
}
.footerNav{
    display: flex;
    flex-direction: column;
}
.title{
   color: #6B7280;
    font-size: 12px;
    font-weight: 600;
    text-transform: uppercase;
    line-height: 16px;
    padding: 0 10px;

}
.li{
padding-top: 40px;
}
.ul{
    padding: 0;
    list-style: none;
}
@media (max-width: 950px) {
    .hideText{
        display: none;
    } .hideBlockTitle{
        display: none;
    }
      .container{
          padding: 15px 0 ;
          position: absolute;
          top: 0;
          bottom: 0;
          width: 40px;
          overflow-x: hidden;
          overflow-y: scroll;
      }
      .container:hover{
          width: auto;
      }
    .container:hover .hideText{ display: inline-block}
.logoAdaptive{
    font-size: 30px;
}}