.buttonsContainer{
    display: flex;
    flex-direction: column;
}
.container{
    display: flex;
    align-items: center;
    cursor: pointer;
}
.buttonsContainer img{
    margin-top: 2px;
    height: 5px;
    width: 8px;
}
.title{
    text-transform: uppercase;
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    margin: 0 5px 0 0
}