


.link {
    padding: 10px;
    border-radius: 6px;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.link:hover {
    background: #4B5563
}

.link:hover .img {
    filter: brightness(10);
}

.img {
    width: 20px;
    height: 20px;
}

.text {
    margin: 0 20px;
    font-size: 14px;
    color: white;
    font-weight: 500;

}

